body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* AllInstruments */

.scrolling-wrapper {
  margin: 20px 0 30px 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* SingleInstruments */

.table-body {
  background: url('./jaamlogo.png') no-repeat center center local,
    linear-gradient(
      0deg,
      rgba(0, 142, 255, 1) 0%,
      rgba(148, 195, 255, 1) 36%,
      rgba(0, 255, 252, 1) 100%
    );
  background-size: contain;
  display: flex;
  justify-content: center;
}

.time-slice {
  display: flex;
  flex-direction: column;
}

.on {
  background-color: limegreen;
}

.cell {
  margin: 0px;
  width: 40px;
  height: 18px;
  border: 1px solid white;
}

.closed {
  cursor: not-allowed;
  opacity: 0.5;
}

.center {
  justify-self: center;
}
