body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* SingleInstruments */

.single-instrument-container {
  background: url('./jaamlogo.png') no-repeat center center local,
    linear-gradient(
      0deg,
      rgba(0, 123, 255, 1) 24%,
      rgba(148, 195, 255, 1) 57%,
      rgba(0, 255, 252, 1) 100%
    );
  background-size: contain;
}

table {
  margin: 0;
  padding: 0;
  height: 100%;
}

.outer-table {
  overflow-x: scroll;
}

tr {
  border: collapse;
}

td {
  border: 1px solid white;
  padding: 0px;
}

td.column-td {
  border: collapse;
  margin: 0px;
  min-width: 30px;
  height: 15px;
}

.drums-with-details {
  display: flex;
}

.drum-details-container {
  flex: 2;
  text-align: center;
}

.single-drums-container {
  flex: 8;
  display: flex;
  background: url('./jaamlogo.png') no-repeat center center local,
    linear-gradient(
      0deg,
      rgba(0, 123, 255, 1) 24%,
      rgba(148, 195, 255, 1) 57%,
      rgba(0, 255, 252, 1) 100%
    );
  background-size: contain;
}

.single-drumslice-container {
  display: flex;
  flex-direction: column;
}

.drum-cell {
  flex: 1;
  border: 1px solid white;
}

.cell:hover {
  background-color: pink;
}

.on {
  /* background-color: limegreen; */
  background-color: #28a745;
}

.curser {
  background-color: pink;
}

.cell {
  margin: 0px;
  width: 30px;
  height: 15px;
}

.closed {
  cursor: not-allowed;
  opacity: 0.5;
}

.center {
  justify-self: center;
}

/* managing single-instrument-container & single-instrument-options */
.single-instrument-with-details {
  display: flex;
}

.single-instrument-options {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.single-instrument-container {
  flex: 8;
  display: flex;
  flex-direction: row;
}

.icon {
  font-size: 1.5rem;
}

.emoji-option {
  height: 30px;
}
