body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* AllInstruments */

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* SingleInstruments */

.instrument-container {
  display: flex;
  justify-content: center;
}

.time-slice {
  display: flex;
  flex-direction: column;
}

.on {
  background-color: limegreen;
}

.off {
  background-color: grey;
}

.cell {
  display: inline-block;
  margin: 3px;
  border: 1px solid black;
  width: 30px;
  height: 15px;
}

.cell:hover {
  background-color: pink;
}
